@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #3B82F6;
    --secondary: #6B7280;
    --dark: #000000;
  }

  body {
    @apply bg-white text-dark antialiased;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  h1, h2, h3, h4, h5, h6 {
    @apply tracking-tight font-bold text-dark;
  }
}
